.footer__row1{
    padding: 3rem 0rem;

}

.footer__navListLabel{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 11rem;
    margin-left: 15rem;
    background-color: #0c816e;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    color: #fff;
    font-weight: 700;
}
.footer__navItemList li{
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem 0.5rem 15rem;
    background-color: #0ea98e;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.footer__navItemList img{
    margin-right: 1rem;
}

.footer__shareBtn{
    display: flex;
    align-content: center;
    padding: 0rem 0rem 0rem 14rem;
    color: #fff;
    font-size: 0.75rem;
}

.shareBtn__tw{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 5rem;
    height: 1.5rem;
    padding: 2px; 
    margin: 0.5rem;
    border-radius: 3px;
    background-color: #1c95e0;
}

.twIcon{
    width: 1rem;
    height: 1rem;
    margin: 2px;
    background: transparent 0 0 no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

.shareBtn__tw{
    padding: 3px;
}

.shareBtn__fb{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 5rem;
    height: 1.5rem; 
    margin: 0.5rem;
    border-radius: 3px;
    background-color: #1877f2;    
}

.shareBtn__fb img{
    width: 1rem;
    height: 1rem;
    margin: 4px;
}
.shareBtn__fb div{
    margin: 3px;
}

.footer__row2{
    font-size: 0.6rem;
}

.footer__copyright{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    background-image: url(https://www.msdoncology.jp/static/images/onc_footer_bg_line_1010.png), url(https://www.msdoncology.jp/static/images/onc_footer_bg_line.png);
    background-repeat: no-repeat, repeat-x;
    background-position: center bottom, center bottom;
    color: #898989;
}

.copyrightLeft{
    margin: 0rem 2rem 0 0;
}

.copyrightCenter .link{
    color: #898989;
}

.copyrightRight{
    display: flex;
    margin: 0rem 2rem 0 5rem;
}

.copyrightRight ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.copyrightRight li{
    padding: 0 1rem 0 0.6rem;
}

.copyrightRight a{
    color: #898989;
}
.copyrightRight .line {
    border-right: solid 1px #898989;
}

.footer__bottomNav{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.footer__bottomNav li{
    padding: 0 3px;
    border-left: solid 1px #898989;
}
.footer__bottomNav a{
    color: #898989;
}

.footer__bottomNav li:first-child {
    border-left: none;
}