.header {
  // display: flex;
  // flex-wrap: wrap;
  // max-width: 1010px;
  // width: 100%;
  // margin: 0 auto;
  font-size: 1.5rem;
}

.header__row1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  background-image: url(https://www.msdoncology.jp/static/images/onc_logo_bg.png);
  background-repeat: repeat-x;
  background-position: top 40px left 0px;
}

.logo {
  width: 100%;
  vertical-align: middle;
}

.row1__item {
  width: 18rem;
  height: 4.3rem;
  background: linear-gradient(to bottom, #4db5b5, #6dd4d4);
  text-align: center;
  padding-top: 1.4rem;
  margin: 1.3rem 0rem 0rem -2rem;
  border-radius: 10px 10px 0px 0px;
}

.row1__itemList--optional {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 3rem;
  margin: 1.3rem 1rem;
  margin-right: 1rem;
  color: white;
  background-color: #ff9e00;
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(8, 0, 0, 0.4);
}

.list-icon {
  width: 1.4rem;
  height: 1.4rem;
}

.itemList__title {
  padding: 0 1rem;
}

.msd-logo {
  width: 100%;
  margin-top: 1.3rem;
}

.header__row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 4rem;
  background: linear-gradient(to bottom, #fff 0%, #ebebeb 100%);
  border-bottom: 1px solid #46829e;
}

.homeBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
}

.row2__navList {
  display: flex;
  align-items: center;
}

.navList__item {
  height: 100%;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  color: #777;
  border-right: 1px solid #000;
}
