.infoBanner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  border-top: 1px solid rgb(214, 214, 214);
  border-bottom: 1px solid rgb(214, 214, 214);
  box-sizing: border-box;
  background: url(https://www.msdoncology.jp/static/images/onc_bg_a.gif) repeat-x bottom center;
}

.infoBanner div{
  margin-right: 15rem;
  font-size: 2rem;
  color: rgb(41, 80, 15);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.infoBanner figure{
  width: 260px;
  height: 148px;
  margin-left: 15rem;
  box-sizing: border-box;
  position: relative;
}

.infoBanner img{
  position: absolute;
  left: 40px;
  bottom: -32px;
}

.infoContainer{
  display: flex;
  justify-content: center;
}

.infoContainer__left{
  width: 725px;
  margin-right: 1.2rem;
}

.infoContainer__left__order0 ul{
  display: flex;
  color: #000;
}

.infoContainer__left__order0 a{
  color: #000;
}


.infoContainer__left__order1 {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #6e839f;
  background: #f4f4f4;
  border-left: 10px solid #70a150;
  border-right: 10px solid #70a150;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.infoContainer__left__order1 ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.infoContainer__left__order1 li{
  margin: 1rem;
}


.infoContainer__left__order2 h2{
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(44, 115, 55);
  border-bottom: 1px solid rgb(44, 115, 55);
  margin-bottom: 1.5rem;
  padding-bottom: .25rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
}

.infoContainer__left__order2 h2::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 2;
  background: rgb(44, 115, 55);
  width: 10rem;
  max-width: 100%;
  height: 4px;
}

.infoContainer__left__order2 p{
  margin-bottom: 1.5rem;
}

.infoContainer__left__order2 figure{
  margin-bottom: 1.5rem;
}

.infoContainer__left__order2 .textRight{
  font-size: 0.8rem;
  text-align: right;
}

.infoContainer__left__order2 .infoBox{
  margin-top: 60px;
}

.infoContainer__left__order2 .infoBox h3{
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  z-index: 2;
}

.infoContainer__left__order2 .infoBox span{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15rem;
  display: inline-block;
  text-align: center;
  background: rgb(112, 161, 79);
  border-radius: 1rem;
  transform: translateY(-50%);
  margin-left: -7.5rem;
  padding: 1rem 0;
}

.infoContainer__left__order2 .infoList{
  display: flex;
  justify-content: center;
  background: rgb(244, 244, 244);
  border: 2px solid rgb(210, 210, 210);
  border-radius: 0.5rem;
  margin-bottom: 1.2rem;
  padding: 2.5rem 1.2rem 1.2rem 1.2rem;
  box-sizing: border-box;
  z-index: 1;
}

.infoContainer__left__order2 .infoList li{
  font-size: 1.1rem;
  margin: 1rem;
}

.infoContainer__right{
  margin-top: 3rem;
  margin-left: 1rem;
}

.infoContainer__right__navList a{
  display: flex;
  align-items: center;
  padding: 0.5rem ;
  background: #70a14f;
  color: #ffffff;
  position: relative;
}

.infoContainer__right__navList .imgLogo{
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}

.infoContainer__right__navList .imgLogo1{

  margin: 0.5rem;
}

.infoContainer__right__navList .imgIcon{
  width: 20px;
  height: 20px;
  margin: 0.5rem;
  position: absolute;
  right: 5px;
}

.infoContainer__right__navList > ul > li > ul li{
  padding: 1rem 5rem 1rem 2rem;
  background: #f9f9f9;
  color: #999999;
  font-weight: bold;  
}

.infoContainer__right__navList > ul > li{
  border-bottom: solid 1px #dbdbdb;
}
