.testBanner {
  background-color: rgb(193, 218, 239);
  display: flex; 
  justify-content: center;
}

.bannerImg{
  margin: 1.5rem;
}

.info{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.info__logo{
  background-color: #b5b5b5;
  color: #fff;
  margin: 1rem;
  padding: 0.5rem 1.5rem;

}

.info__itemList{
  margin: 1rem;
  color: #0e306f
}

.info__item{
  display: flex;
}

.info__item a{
  margin: 0rem 1rem;
  color: #0e306f
  
}

.info__btn{
  display: flex;
  align-items: center;
  background-color: #e5eddd;
  border-radius: 0.5rem;
  margin: 1rem;

}

.info__btn a{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.info__btn div{
  margin-top: 1rem;
}

.nav{
  // box-shadow: 0 4px 8px 0 rgba(8, 0, 0, 0.4);
  background: repeating-linear-gradient(-45deg, #fafafa, #fafafa 1px, #efefef 0, #efefef 8px);
}

.nav__itemList{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 10rem;
  background-image: url(https://www.msdoncology.jp/static/images/onc_bg_bl.png), url(https://www.msdoncology.jp/static/images/onc_bg_br.png);
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
}



.nav__item a{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  color: #000;
  
}

.nav__item div{
  // text-decoration:underline;
  border-bottom: 1px solid #000;
}

.nav__item p{
  width: 20rem;
  color: #000;
}

.nav__itemTitle{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.item__btn{
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: #fff;
  background-color: #71a14f;
  border-radius: 0.5rem;
}

.nav__author{
  padding-right: 10rem;
  padding-bottom: 1rem;
  text-align: right;
  
}