<template>
  <div class="home">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/section/Header.vue";
import Footer from "@/components/section/Footer.vue";
export default {
  name: "Home",
  components: {
    Header,
    Footer
  }
};
</script>
