<template>
  <Testoncology />
</template>
<script>
import Testoncology from "@/components/section/Testoncology.vue";
export default {
  name: "Test",
  components: {
    Testoncology
  }
};
</script>
