<template>
  <div class="contain">
    <div class="banner">
      <img
        class="bannerImg"
        src="@/assets/img/banner/onc_illust_top_pc.png"
        alt=""
      />
      <div class="banner_itemList">
        <div class="itemList__column">
          <router-link :to="{ name: 'Test' }">
            乳癌
            <img src="@/assets/img/banner/onc_top_bnr.png" alt="" />
          </router-link>
          <router-link :to="{ name: 'Test' }">
            微衛星不穩定性癌
            <img src="@/assets/img/banner/onc_top_bnr.png" alt="" />
          </router-link>
          <router-link :to="{ name: 'Test' }">
            肺癌
            <img src="@/assets/img/banner/onc_top_bnr.png" alt="" />
          </router-link>
        </div>
        <div class="itemList__column">
          <router-link :to="{ name: 'Test' }">
            肝癌
            <img src="@/assets/img/banner/onc_top_bnr.png" alt="" />
          </router-link>
          <router-link :to="{ name: 'Test' }">
            卵巢癌
            <img src="@/assets/img/banner/onc_top_bnr.png" alt="" />
          </router-link>
          <router-link :to="{ name: 'Test' }">
            子宮頸癌
            <img src="@/assets/img/banner/onc_top_bnr.png" alt="" />
          </router-link>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="info__logo">通知</div>
      <div class="info__itemList">
        <div class="info__item">
          <div>2020/07/24</div>
          <a href="">卵巢癌內容公開</a>
        </div>
        <div class="info__item">
          <div>2020/07/24</div>
          <a href="">肝癌內容公開</a>
        </div>
        <div class="info__item">
          <div>2020/07/23</div>
          <a href="">肺癌內容公開</a>
        </div>
        <div class="info__item">
          <div>2020/07/21</div>
          <a href="">微衛星不穩定性癌內容公開</a>
        </div>
        <div class="info__item">
          <div>2020/07/21</div>
          <a href="">乳癌內容公開</a>
        </div>
      </div>
      <div class="info__btn">
        <a href="https://www.msdconnect.tw/index.xhtml">
          <img src="@/assets/img/info/onc-information.png" alt="" />
          <div>前往MSD默沙東藥廠</div>
        </a>
      </div>
    </div>
    <div class="nav">
      <div class="nav__itemList">
        <div class="nav__item">
          <router-link :to="{ name: 'Story' }">
            <div class="nav__itemTitle">癌症的故事</div>
            <p>
              什麼是癌症？ 您要進行什麼樣的檢查和治療？
              您應該知道的有關癌症的故事。
            </p>
            <div class="item__btn">點擊這裡了解詳情 →</div>
          </router-link>
        </div>
        <div class="nav__item">
          <router-link :to="{ name: 'Story' }">
            <div class="nav__itemTitle">免疫力和癌症</div>
            <p>
              免疫具有攻擊和消除癌症的功能。 同時，癌症也試圖通過逃避攻擊來生存
            </p>
            <div class="item__btn">點擊這裡了解詳情 →</div>
          </router-link>
        </div>
        <div class="nav__item">
          <router-link :to="{ name: 'Story' }">
            <div class="nav__itemTitle">癌症治療的支持</div>
            <p>為接受癌症治療的患者及其家人介紹有用的信息</p>
            <div class="item__btn">點擊這裡了解詳情 →</div>
          </router-link>
        </div>
        <div class="nav__item">
          <router-link :to="{ name: 'Story' }">
            <div class="nav__itemTitle">癌症患者的生命護理</div>
            <p>這裡有一些平靜生活的技巧，例如如何設計一餐</p>
            <div class="item__btn">點擊這裡了解詳情 →</div>
          </router-link>
        </div>
      </div>
      <p class="nav__author">監修：日本臨床腫瘍學會 特別顧問 西條長宏先生</p>
    </div>
  </div>
</template>
<script>
export default {
  name: "Container"
};
</script>
