<template>
  <footer class="footer">
    <div class="footer__row1">
      <p class="footer__navListLabel">
        生活中的癌症 選單
      </p>
      <div class="footer__navItemList">
        <nav>
          <ul>
            <li>
              <img src="@/assets/img/footer/onc-footer-icon-right.png" alt="" />
              <div>首頁</div>
            </li>
            <li>
              <img src="@/assets/img/footer/onc-footer-icon-right.png" alt="" />
              <div>癌症共同情報</div>
            </li>
            <li>
              <img src="@/assets/img/footer/onc-footer-icon-right.png" alt="" />
              <div>乳癌</div>
            </li>
            <li>
              <img src="@/assets/img/footer/onc-footer-icon-right.png" alt="" />
              <div>肝癌</div>
            </li>
            <li>
              <img src="@/assets/img/footer/onc-footer-icon-right.png" alt="" />
              <div>微衛星不穩定性癌</div>
            </li>
            <li>
              <img src="@/assets/img/footer/onc-footer-icon-right.png" alt="" />
              <div>卵巢癌</div>
            </li>
            <li>
              <img src="@/assets/img/footer/onc-footer-icon-right.png" alt="" />
              <div>肺癌</div>
            </li>
            <li>
              <img src="@/assets/img/footer/onc-footer-icon-right.png" alt="" />
              <div>子宮頸癌</div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__shareBtn">
      <a class="shareBtn__tw">
        <div class="twIcon"></div>
        <div>分享</div>
      </a>
      <a class="shareBtn__fb">
        <img
          src="https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/ukA9EwJquLE.png"
          alt=""
        />
        <div>分享</div>
      </a>
    </div>
    <div class="footer__row2">
      <div class="footer__copyright">
        <p class="copyrightLeft">
          本網站由美國紐澤西州 Merck & Co.,
          Inc公司之台灣分公司「美商默沙東藥廠股份有限公司台灣分公司」所維護<br />
          <a href="https://www.msdconnect.tw/terms_of_use.xhtml">版權所有</a>
          © 2016-2020 美商默沙東藥廠股份有限公司台灣分公司
        </p>
        <p class="copyrightCenter">
          <a class="link" href="https://www.msdoncology.jp/link.xhtml"
            >橫幅鏈接</a
          >
        </p>
        <div class="copyrightRight">
          <nav>
            <ul>
              <li class="line">
                <a
                  href="https://www.msdconnect.tw/privacy_policy.xhtml"
                  target="_blank"
                  >隱私權政策</a
                >
              </li>
              <li class="line">
                <a
                  href="https://www.msdconnect.tw/contact/contact_us.xhtml"
                  target="_blank"
                  >聯繫我們</a
                >
              </li>
            </ul>
          </nav>
          <nav>
            <ul>
              <li>
                <a
                  href="http://www.msd.co.jp/terms-of-use/index.xhtml"
                  target="_blank"
                  >使用條款</a
                >
              </li>
              <li><a href="/sitemap.xhtml">網站地圖</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div>
        <nav>
          <ul class="footer__bottomNav">
            <li><a href="" target="_blank">癌症</a></li>
            <li><a href="" target="_blank">糖尿病</a></li>
            <li><a href="" target="_blank">氣喘</a></li>
            <li><a href="" target="_blank">花粉症</a></li>
            <li><a href="" target="_blank">骨質疏鬆症</a></li>
            <li><a href="" target="_blank">失眠</a></li>
            <li><a href="" target="_blank">憂鬱症</a></li>
            <li><a href="" target="_blank">避孕</a></li>
            <li><a href="" target="_blank">不孕</a></li>
            <li><a href="" target="_blank">子宮頸癌預防</a></li>
            <li><a href="" target="_blank">輪狀病毒腸胃炎預防</a></li>
            <li><a href="" target="_blank">肺炎預防</a></li>
            <li><a href="" target="_blank">C型肝炎</a></li>
            <li><a href="" target="_blank">男性雄性禿</a></li>
            <li><a href="" target="_blank">預防醫學</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: "Footer"
};
</script>
