<template>
  <header class="header">
    <div class="header__row1">
      <router-link :to="{ name: 'Home' }">
        <img
          class="logo"
          src="@/assets/img/header/onc_logo.png"
          alt="onc_logo"
        />
      </router-link>
      <div class="row1__item">
        癌症的共同情報
        <br />
        <img src="@/assets/img/header/onc-top-icon-down.png" alt="down" />
      </div>
      <div class="row1__itemList--optional">
        <img
          class="list-icon"
          src="@/assets/img/header/onc_selectlist.png"
          alt="list_button"
        />
        <div class="itemList__title">選擇癌症類型</div>
      </div>
      <a href>
        <img
          class="msd-logo"
          src="@/assets/img/header/onc_logo_msd.png"
          alt="msdlogo"
        />
      </a>
    </div>
    <!-- <div class="header__line">

    </div>-->
    <div class="header__row2">
      <nav class="row2__navList">
        <div class="homeBtn">
          <img src="@/assets/img/header/onc_gnavi_home.png" alt />
          <!-- <a href="">首頁</a> -->
          <router-link :to="{ name: 'Home' }">首頁</router-link>
        </div>
        <router-link class="navList__item" :to="{ name: 'Story' }"
          >癌症的故事</router-link
        >
        <router-link class="navList__item" :to="{ name: 'Story' }"
          >免疫力和癌症</router-link
        >
        <router-link class="navList__item" :to="{ name: 'Story' }"
          >癌症治療費用和工作</router-link
        >
        <router-link class="navList__item" :to="{ name: 'Story' }"
          >日常生活的設備</router-link
        >
      </nav>
    </div>
  </header>
</template>
<script>
export default {
  name: "Header"
};
</script>
