<template>
  <div>
    <div class="infoBanner">
      <div class="title">癌症的故事</div>
      <figure>
        <img src="@/assets/img/banner/onc-information.png" alt="" />
      </figure>
    </div>
    <div class="infoContainer">
      <div class="infoContainer__left">
        <div class="infoContainer__left__order0">
          <nav>
            <ul>
              <li><a href="">生活中的癌症 首頁</a> ></li>
              <li><a href="">癌症的故事</a> ></li>
              <li><a href="">什麼是癌症？</a></li>
            </ul>
          </nav>
        </div>
        <div class="infoContainer__left__order1">
          <nav>
            <ul>
              <li>什麼是癌症？→</li>
              <li>致癌原因 →</li>
              <li>癌症是一種常見的疾病 →</li>
              <li>檢驗與處理 →</li>
              <li>癌症治療的副作用及其對策</li>
            </ul>
          </nav>
        </div>
        <div class="infoContainer__left__order2">
          <article>
            <h2>什麼是癌症？</h2>
            <p>
              我們的身體由大約37萬億個細胞組成。
              正常細胞受基因控制，因此它們不會無限增殖，但是如果由於某種原因發生該基因的改變（基因突變），則細胞將重複異常分裂和增殖。
              .. 這種細胞稱為癌細胞。
            </p>
            <figure>
              <img
                src="https://www.msdoncology.jp/static/images/onc_p101_1_tcm4541-593046.png"
                alt=""
              />
            </figure>
            <p class="textRight">
              國家癌症中心，癌症信息服務“患者得癌症指南”（截至2020年3月）
            </p>
            <p>
              這會導致一種稱為“癌症”的疾病，該疾病會無限期地增長（自主增長），擴散到周圍器官（侵入），在身體周圍擴散（轉移），並需要正常組織。
              它的特徵是消耗其產生的營養並使人體衰弱（惡病質）。
            </p>
            <section class="infoBox">
              <h3>
                <span>癌症特徵</span>
              </h3>
              <div class="infoList">
                <ul>
                  <li>□ 無限增殖（自主增長）</li>
                  <li>□ 擴散到周圍器官（浸潤）並在身體周圍飛散（轉移）</li>
                  <li>□ 剝奪正常組織所需的營養，並使身體虛弱（惡病質）</li>
                </ul>
              </div>
            </section>
            <p class="textRight">
              1）Bianconi E, et al. Ann Hum Biol 40: 463-471, 2013
            </p>
          </article>
        </div>
      </div>
      <div class="infoContainer__right">
        <nav class="infoContainer__right__navList">
          <ul>
            <li>
              <a href=""
                ><img
                  class="imgLogo"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-1.png"
                  alt=""/>
                <div>關於癌症</div>
                <img
                  class="imgIcon"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-toggle-m_tcm4541-596394.png"
                  alt=""
              /></a>
              <ul>
                <li>癌症的故事</li>
                <li>免疫力和癌症</li>
                <li>癌症治療費用和工作</li>
                <li>日常生活的設備</li>
              </ul>
            </li>
            <li>
              <a href=""
                ><img
                  class="imgLogo1"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-breast.png"
                  alt=""/>
                <div>關於乳癌</div>
                <img
                  class="imgIcon"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-toggle-p_tcm4541-596395.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a href=""
                ><img
                  class="imgLogo"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-msi-high.png"
                  alt=""/>
                <div>關於微衛星不穩定性癌</div>
                <img
                  class="imgIcon"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-toggle-p_tcm4541-596395.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a href=""
                ><img
                  class="imgLogo"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-3.png"
                  alt=""/>
                <div>關於肺癌</div>
                <img
                  class="imgIcon"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-toggle-p_tcm4541-596395.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a href=""
                ><img
                  class="imgLogo"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-hepatocellular.png"
                  alt=""/>
                <div>關於肝癌</div>
                <img
                  class="imgIcon"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-toggle-p_tcm4541-596395.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a href=""
                ><img
                  class="imgLogo"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-ovarian.png"
                  alt=""/>
                <div>關於卵巢癌</div>
                <img
                  class="imgIcon"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-toggle-p_tcm4541-596395.png"
                  alt=""
              /></a>
            </li>
            <li>
              <a href=""
                ><img
                  class="imgLogo"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-cervical.png"
                  alt=""/>
                <div>關於子宮頸癌</div>
                <img
                  class="imgIcon"
                  src="https://www.msdoncology.jp/static/images/onc-rnavi-icon-toggle-p_tcm4541-596395.png"
                  alt=""
              /></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Infomation"
};
</script>
